operations:
  view:
    - type: web
      impl: index.html

hooks:
  pre-app-build: hooks/pre-app-build.js

actions: actions
web: web-src

runtimeManifest:
  packages:
    admin-ui-sdk:
      license: Apache-2.0
      actions:
        registration:
          function: actions/registration/index.js
          web: 'yes'
          runtime: 'nodejs:22'
          inputs:
            LOG_LEVEL: info
          annotations:
            require-adobe-auth: true
            final: true
          limits:
            timeout: 60000
            memory: 512
            logs: 10

    FulcrumCustomShippingMenu:
      license: Apache-2.0
      annotations:
        require-adobe-auth: true
        final: true
      limits:
        timeout: 60000
        memory: 512
        logs: 10

      actions:
        commerce-rest-api:
          function: actions/commerce/index.js
          web: 'yes'
          runtime: 'nodejs:22'
          inputs:
            LOG_LEVEL: info
            AIO_CLI_ENV: $AIO_CLI_ENV
            COMMERCE_BASE_URL: $COMMERCE_BASE_URL
            COMMERCE_CONSUMER_KEY: $COMMERCE_CONSUMER_KEY
            COMMERCE_CONSUMER_SECRET: $COMMERCE_CONSUMER_SECRET
            COMMERCE_ACCESS_TOKEN: $COMMERCE_ACCESS_TOKEN
            COMMERCE_ACCESS_TOKEN_SECRET: $COMMERCE_ACCESS_TOKEN_SECRET
            OAUTH_CLIENT_ID: $OAUTH_CLIENT_ID
            OAUTH_CLIENT_SECRET: $OAUTH_CLIENT_SECRET
            OAUTH_TECHNICAL_ACCOUNT_ID: $OAUTH_TECHNICAL_ACCOUNT_ID
            OAUTH_TECHNICAL_ACCOUNT_EMAIL: $OAUTH_TECHNICAL_ACCOUNT_EMAIL
            OAUTH_SCOPES: $OAUTH_SCOPES
            OAUTH_IMS_ORG_ID: $OAUTH_IMS_ORG_ID

        get-carriers:
          function: actions/get-carriers/index.js
          web: 'yes'
          runtime: 'nodejs:22'
          inputs:
            LOG_LEVEL: info
            AIO_CLI_ENV: $AIO_CLI_ENV
            COMMERCE_BASE_URL: $COMMERCE_BASE_URL
            COMMERCE_CONSUMER_KEY: $COMMERCE_CONSUMER_KEY
            COMMERCE_CONSUMER_SECRET: $COMMERCE_CONSUMER_SECRET
            COMMERCE_ACCESS_TOKEN: $COMMERCE_ACCESS_TOKEN
            COMMERCE_ACCESS_TOKEN_SECRET: $COMMERCE_ACCESS_TOKEN_SECRET
            OAUTH_CLIENT_ID: $OAUTH_CLIENT_ID
            OAUTH_CLIENT_SECRET: $OAUTH_CLIENT_SECRET
            OAUTH_TECHNICAL_ACCOUNT_ID: $OAUTH_TECHNICAL_ACCOUNT_ID
            OAUTH_TECHNICAL_ACCOUNT_EMAIL: $OAUTH_TECHNICAL_ACCOUNT_EMAIL
            OAUTH_SCOPES: $OAUTH_SCOPES
            OAUTH_IMS_ORG_ID: $OAUTH_IMS_ORG_ID

        add-carrier:
          function: actions/add-carrier/index.js
          web: 'yes'
          runtime: 'nodejs:22'
          inputs:
            LOG_LEVEL: info
            AIO_CLI_ENV: $AIO_CLI_ENV
            COMMERCE_BASE_URL: $COMMERCE_BASE_URL
            COMMERCE_CONSUMER_KEY: $COMMERCE_CONSUMER_KEY
            COMMERCE_CONSUMER_SECRET: $COMMERCE_CONSUMER_SECRET
            COMMERCE_ACCESS_TOKEN: $COMMERCE_ACCESS_TOKEN
            COMMERCE_ACCESS_TOKEN_SECRET: $COMMERCE_ACCESS_TOKEN_SECRET
            OAUTH_CLIENT_ID: $OAUTH_CLIENT_ID
            OAUTH_CLIENT_SECRET: $OAUTH_CLIENT_SECRET
            OAUTH_TECHNICAL_ACCOUNT_ID: $OAUTH_TECHNICAL_ACCOUNT_ID
            OAUTH_TECHNICAL_ACCOUNT_EMAIL: $OAUTH_TECHNICAL_ACCOUNT_EMAIL
            OAUTH_SCOPES: $OAUTH_SCOPES
            OAUTH_IMS_ORG_ID: $OAUTH_IMS_ORG_ID

        delete-carrier:
          function: actions/delete-carrier/index.js
          web: 'yes'
          runtime: 'nodejs:22'
          inputs:
            LOG_LEVEL: info
            AIO_CLI_ENV: $AIO_CLI_ENV
            COMMERCE_BASE_URL: $COMMERCE_BASE_URL
            COMMERCE_CONSUMER_KEY: $COMMERCE_CONSUMER_KEY
            COMMERCE_CONSUMER_SECRET: $COMMERCE_CONSUMER_SECRET
            COMMERCE_ACCESS_TOKEN: $COMMERCE_ACCESS_TOKEN
            COMMERCE_ACCESS_TOKEN_SECRET: $COMMERCE_ACCESS_TOKEN_SECRET
            OAUTH_CLIENT_ID: $OAUTH_CLIENT_ID
            OAUTH_CLIENT_SECRET: $OAUTH_CLIENT_SECRET
            OAUTH_TECHNICAL_ACCOUNT_ID: $OAUTH_TECHNICAL_ACCOUNT_ID
            OAUTH_TECHNICAL_ACCOUNT_EMAIL: $OAUTH_TECHNICAL_ACCOUNT_EMAIL
            OAUTH_SCOPES: $OAUTH_SCOPES
            OAUTH_IMS_ORG_ID: $OAUTH_IMS_ORG_ID

        get-customer-groups:
          function: actions/get-customer-groups/index.js
          web: 'yes'
          runtime: 'nodejs:22'
          inputs:
            LOG_LEVEL: info
            AIO_CLI_ENV: $AIO_CLI_ENV
            COMMERCE_BASE_URL: $COMMERCE_BASE_URL
            COMMERCE_CONSUMER_KEY: $COMMERCE_CONSUMER_KEY
            COMMERCE_CONSUMER_SECRET: $COMMERCE_CONSUMER_SECRET
            COMMERCE_ACCESS_TOKEN: $COMMERCE_ACCESS_TOKEN
            COMMERCE_ACCESS_TOKEN_SECRET: $COMMERCE_ACCESS_TOKEN_SECRET
            OAUTH_CLIENT_ID: $OAUTH_CLIENT_ID
            OAUTH_CLIENT_SECRET: $OAUTH_CLIENT_SECRET
            OAUTH_TECHNICAL_ACCOUNT_ID: $OAUTH_TECHNICAL_ACCOUNT_ID
            OAUTH_TECHNICAL_ACCOUNT_EMAIL: $OAUTH_TECHNICAL_ACCOUNT_EMAIL
            OAUTH_SCOPES: $OAUTH_SCOPES
            OAUTH_IMS_ORG_ID: $OAUTH_IMS_ORG_ID

        get-stores:
          function: actions/get-stores/index.js
          web: 'yes'
          runtime: 'nodejs:22'
          inputs:
            LOG_LEVEL: info
            AIO_CLI_ENV: $AIO_CLI_ENV
            COMMERCE_BASE_URL: $COMMERCE_BASE_URL
            COMMERCE_CONSUMER_KEY: $COMMERCE_CONSUMER_KEY
            COMMERCE_CONSUMER_SECRET: $COMMERCE_CONSUMER_SECRET
            COMMERCE_ACCESS_TOKEN: $COMMERCE_ACCESS_TOKEN
            COMMERCE_ACCESS_TOKEN_SECRET: $COMMERCE_ACCESS_TOKEN_SECRET
            OAUTH_CLIENT_ID: $OAUTH_CLIENT_ID
            OAUTH_CLIENT_SECRET: $OAUTH_CLIENT_SECRET
            OAUTH_TECHNICAL_ACCOUNT_ID: $OAUTH_TECHNICAL_ACCOUNT_ID
            OAUTH_TECHNICAL_ACCOUNT_EMAIL: $OAUTH_TECHNICAL_ACCOUNT_EMAIL
            OAUTH_SCOPES: $OAUTH_SCOPES
            OAUTH_IMS_ORG_ID: $OAUTH_IMS_ORG_ID

    application:
      license: Apache-2.0
      actions:
        shipping-methods:
          function: ../actions/shipping-methods/index.js
          web: 'yes'
          runtime: 'nodejs:22'
          inputs:
            LOG_LEVEL: info

            # Runtime (auto)
            AIO_runtime_namespace: $AIO_runtime_namespace
            AIO_runtime_apihost: $AIO_runtime_apihost

            # Webhooks
            COMMERCE_WEBHOOKS_PUBLIC_KEY: $COMMERCE_WEBHOOKS_PUBLIC_KEY

            # Endpoint COMMERCE (SaaS or PaaS)
            COMMERCE_BASE_URL: $COMMERCE_BASE_URL

            # ---------- SaaS (IMS OAuth) ----------
            OAUTH_CLIENT_ID: $OAUTH_CLIENT_ID
            OAUTH_CLIENT_SECRET: $OAUTH_CLIENT_SECRET
            OAUTH_SCOPES: $OAUTH_SCOPES
            OAUTH_IMS_ORG_ID: $OAUTH_IMS_ORG_ID
            OAUTH_TECHNICAL_ACCOUNT_ID: $OAUTH_TECHNICAL_ACCOUNT_ID
            OAUTH_TECHNICAL_ACCOUNT_EMAIL: $OAUTH_TECHNICAL_ACCOUNT_EMAIL

            # ---------- PaaS (Commerce Integration) ----------
            COMMERCE_CONSUMER_KEY: $COMMERCE_CONSUMER_KEY
            COMMERCE_CONSUMER_SECRET: $COMMERCE_CONSUMER_SECRET
            COMMERCE_ACCESS_TOKEN: $COMMERCE_ACCESS_TOKEN
            COMMERCE_ACCESS_TOKEN_SECRET: $COMMERCE_ACCESS_TOKEN_SECRET

          annotations:
            require-adobe-auth: true
            raw-http: true
            final: true
        commerce-checkout-starter-kit-info:
          function: ../actions/commerce-checkout-starter-kit-info/index.js
          web: 'yes'
          runtime: 'nodejs:22'
          annotations:
            require-adobe-auth: true
            final: true
